In [ ]:
# Q1.Write a python program to convert a string to lower case

In [3]:
x="PYTHON"
x.lower()

'python'

In [ ]:
# Q2.Write a python program to convert only odd indexed characters to lower case

In [4]:
x="PYTHON"
x[0]+x[1].lower()+x[2]+x[3].lower()+x[4]+x[5].lower()

'PyThOn'

In [ ]:
# Q3.Write a python program to convert only even indexed characters to lower case

In [6]:
x="PYTHON"
x[0].lower()+x[1]+x[2].lower()+x[3]+x[4].lower()+x[5]

'pYtHoN'

In [ ]:
# Q4.Write a python program to convert only odd indexed characters to upper case

In [7]:
x="python"
x[0]+x[1].upper()+x[2]+x[3].upper()+x[4]+x[5].upper()

'pYtHoN'

In [ ]:
# Q5.Write a python program to convert only even indexed characters to upper case

In [8]:
x="python"
x[0].upper()+x[1]+x[2].upper()+x[3]+x[4].upper()+x[5]

'PyThOn'

In [ ]:
# Q6.Write a python program where you have different variable which contains your name ,sex,age, phone no ,fathers name and mothers name.And by using this variable create a
     variable named bio-data where you will use all this variable

In [14]:
name="Bandana"
sex="Female"
age="21"
phone_no="9685472156"
fathername="Narendra"
mothername="Puspanjli"
"my name is {}, my sex is {}, my age is {}, my phone_no is {}, my fathername is {}, my mothername is {}".format(name,sex,age,phone_no,fathername,mothername)

'my name is Bandana, my sex is Female, my age is 21, my phone_no is 9685472156, my fathername is Narendra, my mothername is Puspanjli'

In [15]:
name= input("Enter name: ")
sex= input("Enter sex: ")
age= int(input("Enter age: "))
phone_no= int(input("Enter phone_no: "))
fathername= input("Enter fathername: ")
mothername= input("Enter mothername: ")
print("My name is {}".format(name))
print("My sex is {}".format(sex))
print("My age is {}".format(age))
print("My phone_no is {}".format(phone_no))
print("My fathername is {}".format(fathername))
print("My mothername is {}".format(mothername))

Enter name: Bandana
Enter sex: Female
Enter age: 21
Enter phone_no: 9685472156
Enter fathername: Narendra
Enter mothername: Puspanjli
My name is Bandana
My sex is Female
My age is 21
My phone_no is 9685472156
My fathername is Narendra
My mothername is Puspanjli

In [ ]:
# Q7.Write a python program to count how many times “@” occurred

In [18]:
y="abc@@@@def##ghi@@@jkl"
y.count("@")

7

In [ ]:
# Q8.Write a python program to get only names from the string

In [20]:
n="name1.@gmail.com,name2.@gmai.com,name3.@gmail.com"
n[0:5],n[17:22],n[33:38]

('name1', 'name2', 'name3')

In [ ]:
# Q9.Given a string of odd length greater that 9, return a new string made of the middle three characters of a given String

In [22]:
x="mynameissan"
x[4:7]

'mei'

In [23]:
x="mynameissan"
x[4:-4]

'mei'

In [ ]:
# Q10.Write a python program to insert a 2 string in the middle of 1 string

In [29]:
Str1="myn"
Str2="sa"
Str1[0:1]+Str2+Str1[1:4]

'msayn'

In [ ]:
# Q11.	Write a program to remove vowels from the entire alphabets

In [30]:
alphabets="abcdefghijklmnopqrstuvwxyz"
alphabets.replace("a","").replace("e","").replace("i","").replace("o","").replace("u","")

'bcdfghjklmnpqrstvwxyz'