In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\Hello\Downloads\all_grains_data.csv")

In [3]:
data

      ticker commodity        date     open     high      low    close  volume
0       ZC=F      Corn  2000-07-17   182.25   182.25   178.25   179.25   19385
1       ZC=F      Corn  2000-07-18   179.00   183.25   179.00   180.75   25205
2       ZC=F      Corn  2000-07-19   180.00   182.75   178.75   182.00   17126
3       ZC=F      Corn  2000-07-20   181.50   187.00   181.00   186.00   18742
4       ZC=F      Corn  2000-07-21   185.50   188.00   185.00   187.75   16814
...      ...       ...         ...      ...      ...      ...      ...     ...
34878   ZS=F   Soybean  2023-09-11  1352.50  1352.50  1352.00  1352.50      36
34879   ZS=F   Soybean  2023-09-12  1348.75  1348.75  1331.75  1331.75     274
34880   ZS=F   Soybean  2023-09-13  1325.50  1336.00  1325.50  1336.00     201
34881   ZS=F   Soybean  2023-09-14  1343.75  1343.75  1343.75  1343.75  138778
34882   ZS=F   Soybean  2023-09-15  1360.50  1367.75  1338.25  1340.25  138778

[34883 rows x 8 columns]

In [8]:
data.shape

(34883, 8)

In [4]:
data["date"]=pd.to_datetime(data["date"])

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34883 entries, 0 to 34882
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     34883 non-null  object
 1   commodity  34883 non-null  object
 2   date       34883 non-null  datetime64[ns]
 3   open       34883 non-null  float64
 4   high       34883 non-null  float64
 5   low        34883 non-null  float64
 6   close      34883 non-null  float64
 7   volume     34883 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 2.1+ MB

In [9]:
#1.Which commodity was having the highest opening price for the day
x=data["open"].max()
data.loc[data["open"]==x,["commodity","open","date"]]

        commodity    open       date
19437  Rough Rice  2435.0 2008-04-24

In [12]:
#2.Which commodity price reached  maximum during the trading session.
y=data["high"].max()
data.loc[data["high"]==y,["commodity","high","date"]]

        commodity    high       date
19437  Rough Rice  2468.5 2008-04-24

In [13]:
#3.What is the average Market's opening price for the Oat in 2010
data.loc[(data["date"].dt.year==2010) & (data["commodity"]=="Oat"),["open"]].mean()

open    275.116071
dtype: float64

In [15]:
# 4.What is the maximum and minimum Number of contracts traded during the 2009 
max(data.loc[data["date"].dt.year==2009,"volume"])

252221

In [18]:
#5.Which year have  maximum and minimum Number of contracts traded 
x=data["volume"].max()
y=data["volume"].min()
c=data.loc[data["volume"]==x,["date"]]
d=data.loc[data["volume"]==y,["date"]]
print("max\n",c)
print("min\n",d)

max
            date
4216 2017-06-07
min
             date
821   2003-12-11
1328  2005-12-13
4486  2018-07-03
4528  2018-08-31
5682  2023-04-06
...          ...
29219 2001-03-13
30306 2005-07-12
33573 2018-07-03
33615 2018-08-31
34771 2023-04-06

[2812 rows x 1 columns]

In [24]:
# 6.Which commodity have the average lowest opening price around 2001 to 2005
a=data.loc[(data["date"].dt.year>=2001) & (data["date"].dt.year<=2005),["commodity","open","date"]]
k=a.groupby("commodity")
a=k[["open"]].min()
a.loc["Soybean Oil"]

open    14.4
Name: Soybean Oil, dtype: float64

In [23]:
# 7.Which commodity have the best average  Market's closing price
g=data.groupby("commodity")
a=g[["close"]].mean()
a.loc["Rough Rice"]

close    1143.607925
Name: Rough Rice, dtype: float64

In [26]:
#8.Which year corn have the highest and lowest Number of contracts traded
x=data["volume"].max()
y=data["volume"].min()
a=data.loc[(data["volume"]==x) & (data["commodity"]=="Corn"),["date"]]
b=data.loc[(data["volume"]==y) & (data["commodity"]=="Corn"),["date"]]
print("maximum trade for corn\n",a)
print("minimum trade for corn\n",b)

maximum trade for corn
            date
4216 2017-06-07
minimum trade for corn
            date
821  2003-12-11
1328 2005-12-13
4486 2018-07-03
4528 2018-08-31
5682 2023-04-06